DB_PASSWORD= Your_password
PORT=5000
JWT_SECRET= Server_secret
MONGO_URI=mongodb: Your_mongo_Uri
CLOUDINARY_CLOUD_NAME= Your_Cloudinary_name
CLOUDINARY_API_KEY= Your_cloudinary_Key
CLOUDINARY_API_SECRET= Yourcliudinary_api_secret
